body {
	background: url("../image/slothn.gif");
	background-position: center;
	font-size: 18px;
	font-family: helvetica;
	font-style: italic;

}
#logo {
	margin-right:-250px;
}
#one{
	height: 200px;
	width: 200px;
	background-image: url("../image/wolf.jpg");
	background-color: green;
}
/*#one:hover{
	background-image: url("../image/wolf.jpg");
	height: 194px;
	width: 259px;
}*/
nav ul li{
		display: inline-block;
		font-size: 30px;
		font-style: italic;
		font-family: "Times New Roman", Georgia;
		border: 10px;
		border-color: black;
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	a{
		color: #AC00FF;
		text-decoration:none;
	}
@media screen and (max-width: 300px) {
	body {
		background-color: lightblue;
		}
	}
	